body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #41a088;
    color: #333;
}

.facture-container {
    width: 80%;
    margin: 20px auto;
    background-color: #a19f9f;
    padding: 20px;
    box-shadow: 0 0 10px #ff038e;
}

.facture-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
}

.facture-title h2 {
    color: #ff0000;
    margin: 0;
}

.facture-infos {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.facture-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.facture-table th, .facture-table td {
    border: 5px solid #000000;
    padding: 8px;
    text-align: center;
}
s
.facture-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.facture-buttons button {
    margin: 0 10px;
    padding: 10px 15px;
    border: none;
    background-color: #f700ff;
    color: #000000;
    cursor: pointer;
}

.facture-buttons button:hover {
    background-color: #ffffff;
}

.facture-total {
    text-align: right;
}
